<h3>Recipient</h3>
<div class="row">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered align-middle text-nowrap">
            <thead>
            <tr>
              <th class="text-dark font-medium fs-4">Id</th>
              <th class="text-dark font-medium fs-4" h>Code QR</th>
              <th class="text-dark font-medium fs-4" h>Emplacement</th>
              <th class="text-dark font-medium fs-4" h>Type recipient</th>
              <th class="text-dark font-medium fs-4">Citerne</th>
              <th class="text-dark font-medium fs-4">
                <button class="btn btn-outline-primary" (click)="operation = 'add'; initRecipient();">Ajouter</button>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let recipient of recipientsList">
              <td>{{ recipient.id }}</td>
              <td>{{ recipient.codeQr }}</td>
              <td>{{ recipient.emplacement}}</td>
              <td>{{ recipient.typeRecipient}}</td>
              <td>{{ recipient.citerne?.codeQr }}</td>
              <td>
                <button class="btn btn-outline-primary" (click)="operation = 'edit'; selectedRecipient = recipient;">
                  <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-outline-danger" (click)="operation = 'remove'; selectedRecipient = recipient;">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>


          <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                            (pageChange)="refreshRecipients()">
            </ngb-pagination>

            <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshRecipients()">
              <option [ngValue]="5">5 items par page</option>
              <option [ngValue]="10">10 items par page</option>
              <option [ngValue]="50">50 items par page</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="col-lg-4">
      <div class="card">
        <div class="card-header bg-info text-white">
          {{ operation === 'add' ? 'Ajouter Recipient' : operation === 'edit' ? 'Modifier Recipient' : operation === 'remove' ? 'Supprimer Recipient' : '' }}
        </div>
        <div class="card-body">
          <div *ngIf="operation === 'add' || operation === 'edit'">
            <form [formGroup]="recipientForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label>Emplacement:</label>
                <input type="text" class="form-control" formControlName="emplacement" [(ngModel)]="selectedRecipient.emplacement">
              </div>

              <div class="form-group">
                <label>Type recipient :</label>
                <select class="form-control" formControlName="typeRecipient" [(ngModel)]="selectedRecipient.typeRecipient">
                  <option *ngFor="let recipientOption of recipientOptions" [value]="recipientOption">{{ recipientOption }}</option>
                </select>
              </div>

              <button type="submit" class="btn btn-success" [disabled]="recipientForm.pristine || recipientForm.invalid">
                {{ operation === 'add' ? 'Ajouter' : operation === 'edit' ? 'Modifier' : '' }}
              </button>
            </form>
          </div>
          <div *ngIf="operation === 'remove'">
            <p class="card-title">
              Id : {{ selectedRecipient.id }}
            </p>
            <p>
              Voulez-vous supprimer ce recipient ?
            </p>
            <button class="btn btn-danger" (click)="deleteRecipient()" [disabled]="!selectedRecipient.id">Confirmer</button>
            <button class="btn btn-secondary" (click)="operation = 'add'; initRecipient();">Annuler</button>
          </div>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
  </div>
