<h3>Moulin</h3>
<div class="row">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered align-middle text-nowrap">
            <thead>
            <tr>
              <th class="text-dark font-medium fs-4">Id</th>
              <th class="text-dark font-medium fs-4" h>Nom</th>
              <th class="text-dark font-medium fs-4">Details</th>
              <th class="text-dark font-medium fs-4">
                <button class="btn btn-outline-primary" (click)="operation = 'add'; initMoulin();">Ajouter</button>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let moulin of moulinsList">
              <td>{{ moulin.id }}</td>
              <td>{{ moulin.nom }}</td>
              <td>{{ moulin.details }}</td>
              <td>
                <button class="btn btn-outline-primary" (click)="operation = 'edit'; selectedMoulin = moulin;">
                  <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-outline-danger" (click)="operation = 'remove'; selectedMoulin = moulin;">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>


          <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                            (pageChange)="refreshMoulins()">
            </ngb-pagination>

            <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshMoulins()">
              <option [ngValue]="5">5 items par page</option>
              <option [ngValue]="10">10 items par page</option>
              <option [ngValue]="50">50 items par page</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card">
      <div class="card-header bg-info text-white">
        {{ operation === 'add' ? 'Ajouter Moulinage' : operation === 'edit' ? 'Modifier Moulin' : operation === 'remove'
        ? 'Supprimer Moulin' : '' }}
      </div>
      <div class="card-body">
        <div *ngIf="operation === 'add' || operation === 'edit'">
          <form [formGroup]="moulinForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label>Nom:</label>
              <input type="text" class="form-control" formControlName="nom" [(ngModel)]="selectedMoulin.nom">
            </div>
            <div class="form-group">
              <label>Details</label>
              <input type="text" class="form-control" formControlName="details" [(ngModel)]="selectedMoulin.details">
            </div>

            <br>
            <button type="submit" class="btn btn-success" [disabled]="moulinForm.pristine || moulinForm.invalid">
              {{ operation === 'add' ? 'Ajouter' : operation === 'edit' ? 'Modifier' : '' }}
            </button>
          </form>
        </div>
        <div *ngIf="operation === 'remove'">
          <p class="card-title">
            Id : {{ selectedMoulin.id }}
          </p>
          <p>
            Voulez-vous supprimer ce moulin ?
          </p>
          <button class="btn btn-danger" (click)="deleteMoulin()" [disabled]="!selectedMoulin.id">Confirmer</button>
          <button class="btn btn-secondary" (click)="operation = 'add'; initMoulin();">Annuler</button>
        </div>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
</div>
